<div class="text-center">
  <h2 class="font-extrabold text-4xl">Courses</h2>
  <div
    class="container flex justify-around items-center m-auto max-w-2xl mt-6 gap-4"
  >
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Instructor</th>
          <th>Duration</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody *ngFor="let course of courses" id="course-list">
        <td>{{ course.title }}</td>
        <td>{{ course.instructor }}</td>
        <td>{{ course.duration }}</td>
        <td>{{ course.level }}</td>
      </tbody>
    </table>
  </div>
</div>
