<div>
  <div class="filter-container flex flex-row justify-center gap-4">
    <span>Filter:</span>

    <input type="radio" name="filter" value="All" />
    <span>{{ "All (" + all + ")" }}</span>

    <input type="radio" name="filter" value="Available" />
    <span>{{ "Beginner (" + beginner + ")" }}</span>

    <input type="radio" name="filter" value="Intermediate" />
    <span>{{ "Intermediate (" + intermediate + ")" }}</span>

    <input type="radio" name="filter" value="Advanced" />
    <span>{{ "Advanced (" + advance + ")" }}</span>
  </div>
  <div class="filter-container flex flex-row justify-center gap-4">
    <input type="radio" name="filter" value="Open" />
    <span>{{ "Open (" + open + ")" }}</span>

    <input type="radio" name="filter" value="Closed" />
    <span>{{ "Closed (" + closed + ")" }}</span>
  </div>
</div>
